<nav>
    <div class="nav-content">
        <a href="index.html" class="nav-title"><h1>LXMFy</h1></a>
        <button class="burger-menu" aria-label="Toggle navigation">
            <span></span>
            <span></span>
            <span></span>
        </button>
        <div class="nav-links">
            <a href="index.html">Home</a>
            <a href="documentation.html">Documentation</a>
            <a href="https://github.com/lxmfy/lxmfy">GitHub</a>
            <a href="https://pypi.org/project/lxmfy/">PyPI</a>
        </div>
    </div>
</nav> 